In [1]:
import pandas as pd

In [2]:
data_a = pd.read_excel('./data_alpha.xlsx')
data_b = pd.read_excel('./data_beta.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: './data_alpha.xlsx'

In [42]:
data_a = data_a.rename(columns={'Unnamed: 0':'name'})

In [55]:
columns = data_a.columns.tolist()
columns[0] = 'name'
columns[1] = 'timestamp'
columns[2] = 'Speciality'
columns[3] = 'humanity'
columns[4] = 'thougtfulness'
columns[5] = 'attractive'
columns[6] = 'closeness'
columns[7] = 'wantToTalk'
columns[8] = 'friendly'
columns[9] = 'reuse'
columns[10] = 'recommendation'
data_a = data_a.iloc[:10]

In [56]:
data_a.columns = columns

In [57]:
data_a

,name,timestamp,Speciality,humanity,thougtfulness,attractive,closeness,wantToTalk,friendly,reuse,recommendation
0,酒井,2024-05-10 15:24:55.554,3.0,4.0,3.0,3.0,4.0,2.0,3.0,3.0,3.0
1,二村,2024-05-10 16:03:55.134,5.0,2.0,3.0,6.0,2.0,6.0,2.0,6.0,3.0
2,パン,2024-05-10 17:06:41.821,4.0,5.0,3.0,6.0,5.0,5.0,5.0,6.0,5.0
3,尾山,2024-05-10 17:42:48.900,3.0,6.0,6.0,5.0,5.0,6.0,5.0,6.0,6.0
4,藤本,2024-05-10 18:59:59.587,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,3.0
5,塩尻,2024-05-10 19:41:46.395,5.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0,6.0
6,安倍,2024-05-10 20:06:47.452,3.0,5.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0
7,平岡,2024-05-10 20:36:28.048,4.0,5.0,3.0,5.0,6.0,6.0,6.0,6.0,4.0
8,森,2024-05-10 21:52:12.699,5.0,4.0,5.0,5.0,5.0,5.0,3.0,3.0,3.0
9,須藤,2024-05-12 18:50:23.632,2.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0

In [60]:
data_a.to_csv('data_alpla.csv', index=False)

In [59]:
data_b = data_b.iloc[:10]

columns = data_b.columns.tolist()
columns[0] = 'name'
columns[1] = 'timestamp'
columns[2] = 'Speciality'
columns[3] = 'humanity'
columns[4] = 'thougtfulness'
columns[5] = 'attractive'
columns[6] = 'closeness'
columns[7] = 'wantToTalk'
columns[8] = 'friendly'
columns[9] = 'reuse'
columns[10] = 'recommendation'
data_b.columns = columns
data_b

,name,timestamp,Speciality,humanity,thougtfulness,attractive,closeness,wantToTalk,friendly,reuse,recommendation
0,酒井,2024-05-10 15:23:30.595,6.0,5,4,5,5.0,3.0,3.0,3.0,5.0
1,二村,2024-05-10 16:05:22.430,6.0,5,6,3,6.0,6.0,2.0,6.0,3.0
2,パン,2024-05-10 17:05:18.734,4.0,2,4,2,1.0,2.0,2.0,2.0,2.0
3,尾山,2024-05-10 17:41:19.739,3.0,6,6,5,5.0,6.0,5.0,6.0,5.0
4,藤本,2024-05-10 19:00:43.895,3.0,3,4,3,3.0,3.0,3.0,3.0,3.0
5,塩尻,2024-05-10 19:40:59.220,2.0,4,5,2,2.0,2.0,1.0,2.0,5.0
6,安倍,2024-05-10 20:05:13.449,5.0,5,3,5,5.0,4.0,3.0,4.0,5.0
7,平岡,2024-05-10 20:35:50.359,2.0,4,5,5,6.0,6.0,4.0,6.0,4.0
8,森,2024-05-10 21:53:42.001,6.0,6,6,5,6.0,6.0,4.0,5.0,5.0
9,須藤,2024-05-12 18:52:05.086,4.0,5,5,3,3.0,3.0,2.0,2.0,2.0

In [61]:
data_b.to_csv('data_beta.csv', index=False)